@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #83b735;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;

    & nav {
        width: 90%;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        background: hsla(0, 0%, 100%, 0.3);
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.1);
        backdrop-filter: blur(10px);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        & .logo h2 {

            & a {
                color: #000;
                text-decoration: none;

                & span {
                    color: var(--main-color);
                }
            }
        }


        & .navbar-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            list-style-type: none;

            & li a {
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 500;
                transition: all .5s;
                padding: 5px 15px;
                border-radius: 20px;
                color: #000;

                &:hover {
                    color: var(--main-color);
                }
            }
        }

        & #menu-icon {
            font-size: 2rem;
            cursor: pointer;
            display: none;
        }
    }

    & section {
        width: 100%;

        &.home {
            height: 100%;
            background-image: url(./img/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 20px;
            padding: 0 50px;

            & h1 {
                font-size: 3.5rem;
                user-select: none;

                & span {
                    color: #D06E65;
                }
            }

            & p {
                font-size: 0.9rem;
                width: 55%;
                line-height: 2;
                user-select: none;
            }

            & a {
                font-size: 1.1rem;
                text-decoration: none;
                background: var(--main-color);
                padding: 10px 20px;
                border-radius: 25px;
                color: #000;
                box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
            }

            &::before {
                content: '';
                width: 100%;
                background: #000;
                height: 150px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(transparent, #fff);
            }
        }

        &.tentang-kami {
            min-height: 100%;
            background: #fff;
            padding: 30px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            & img {
                width: 30%;
                border-radius: 20px;
            }

            & .teks-conten {
                width: 40%;

                & h2 {
                    font-size: 2rem;
                    text-align: center;
                    padding: 10px 0;
                    color: #D06E65;
                }

                & p {
                    line-height: 2;
                    text-align: justify;
                    margin-bottom: 10px;
                }
            }
        }

        &.produk {
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-bottom: 50px;

            & h2 {
                margin-top: 70px;
                text-align: center;
                font-size: 2rem;
                color: #83b735;
            }

            & .shop-container {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;

                & .box {
                    min-width: 300px;
                    max-width: 300px;
                    height: 500px;
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);

                    & .img-produk {
                        width: 100%;
                        height: 75%;
                        overflow: hidden;
                        object-fit: cover;

                        & img {
                            width: 100%;
                            height: 100%;
                            transition: all .3s;

                            &:hover {
                                transform: scale(1.3);
                            }
                        }
                    }

                    & .title-harga {
                        padding: 10px;

                        & h3 {
                            font-weight: 500;
                        }

                        & .cart {
                            margin-top: 5px;
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            height: 50px;

                            & span.icon-cart {
                                text-align: center;
                                line-height: 50px;
                                font-size: 1.5rem;
                                min-width: 50px;
                                background: #eee;
                                border-radius: 10px;
                                cursor: pointer;
                                transition: all .3s;

                                &:hover {
                                    background-color: var(--main-color);
                                }
                            }

                            & p {
                                width: 100%;
                                background: #eee;
                                text-align: center;
                                line-height: 50px;
                                font-size: 1.1rem;
                                border-radius: 10px;
                                cursor: pointer;
                                transition: all .3s;

                                &:hover {
                                    background-color: var(--main-color);
                                }


                            }
                        }
                    }
                }
            }

        }

        &.kontak {
            min-height: 100%;
            background-image: url(./img/footer.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & .kontak-container {
                width: 70%;
                background: hsla(0, 0%, 100%, 0.3);
                backdrop-filter: blur(5px);
                border-radius: 20px;
                display: flex;

                & .box-logo-icon {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    & div {
                        text-align: center;

                        & .logo {
                            font-size: 2.5rem;
                            color: var(--main-color);
                        }
                    }

                }

                & .send-teks {
                    width: 60%;
                    padding: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    & form {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;

                        & input,
                        textarea {
                            resize: none;
                            font-size: 1rem;
                            border: none;
                            width: 70%;
                            padding: 10px;
                            border-radius: 10px;
                        }

                        & input[type="submit"] {
                            background-color: var(--main-color);
                            width: 20%;
                            padding: 10px 20px;
                            box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }

    & footer {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #fff;
        text-align: center;
    }
}

/* Membuat Responsif */
@media (max-width: 768px) {
    body nav {
        width: 100%;
        left: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        & .logo h2 {
            font-size: 1.5rem;
        }

        & .navbar-menu {
            width: 90%;
            flex-direction: column;
            align-items: start;
            gap: 0;
            position: absolute;
            z-index: -1;
            top: -500px;
            left: 5%;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;

            & li {
                display: block;
                width: 100%;

                & a {
                    display: block;
                    padding: 1.5rem;
                    min-width: 100%;
                    border-radius: 0px;
                    text-align: center;

                    &:hover {
                        color: #fff;
                        background: var(--main-color);
                    }
                }
            }

            &.active {
                top: 100px;
            }
        }

        & #menu-icon {
            display: block;

        }


    }

    body section {
        &.home {
            padding: 0px 20px;
            align-items: center;
            background-position: right;

            & h1 {
                font-size: 2rem;
            }

            & p {
                width: 100%;
                font-size: 1rem;
            }

            & a {
                font-size: 1rem;
            }
        }

        &.tentang-kami {
            flex-direction: column;
            padding: 10px;
            place-content: center start;

            & img {
                width: 90%;
            }

            & .teks-conten {
                width: 100%;

                & h2 {
                    font-size: 1.5rem;
                }

                & p {
                    font-size: 1rem;
                }
            }
        }

        &.kontak {
            padding: 20px;
            & .kontak-container {
                width: 90%;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                & .box-logo-icon {
                    width: 100%;
                }

                & .send-teks {
                    width: 100%;
                    padding: 0;

                    & form {

                        & input,
                        textarea {
                            width: 100%;
                        }

                        & input[type="submit"] {
                            width: 50%;
                        }
                    }
                }
            }
            & footer {
                font-size: .6rem;
            }
        }
    }
}